@font-face {
    font-family: "Oswald";
    src: url(./assets/fonts/Oswald-VariableFont_wght.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Oswald";
}
body{
    background-color: #d8e0e5;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    padding: 1em;
    gap: 1em;
}
.calculator{
    padding: 1.5em;
    height: max-content;
    border-radius: 1.1em;
    background-color: #ffffff;
    width: max-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
#display{
    position: relative;
    background-color: #ecf2f4;
    padding: 0.7em 0.7em 0.7em 0;
    width: 22.5em;
    border-radius: 0.7em;
    min-height: 78px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    color: #043f51;
    overflow: hidden;
}
#display::after{
    content: "";
    height: 100%;
    width: 70px;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(90deg, #ecf2f4, transparent);
}
#expression{
    font-size: 3em;
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    color: #043f51;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
}
#result{
    font-size: 1.8em;
    opacity: 0.8;
}
#keyboard{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 0.7em;
    justify-content: center;
    width: fit-content;
}
.key{
    border: none;
    background-color: #ecf2f4;
    border-radius: 3px;
    height: 6em;
    width: 6em;
    border-radius: 50%; 
    display: grid;
    place-content: center;
    transition: all 0.1s ease-in;
    cursor: pointer;
    outline: none;
}
#Backspace{
    background-color: #ffd6d6;
}
.key > img{
    height: 2.5em;
}
.key:active{
    scale: 1.09
}
.key:first-child{
    background-color: #bdf0ff;
}
.key:last-child{
    background-color: #fff7a1;
}
.operator{
    background-color: #f3d6ff;
}
.key:hover{
    filter: brightness(0.9) !important;
}

#history{
    padding: 1.5em;
    height: max-content;
    max-width: 50%;
    max-height: calc(100vh - 2em);
    background-color: #ffffff;
    display: flex;
    overflow: auto;
    border-radius: 1.1em;
    width: max-content;
    flex-direction: column;
    gap: 10px;
}

#history::-webkit-scrollbar {
    display: none;
}

#history > .item{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: right;
    cursor: pointer;
    background-color: #ecf2f4;
    border: solid 0.11em #ecf2f4;
    color: #043f51;
    font-size: 1.4em;
    padding: 0.3em 0.5em;
    border-radius: 0.4em;
    display: flex;
    flex-direction: column;
    transition: border-color 0.1s ease-in;
}

#history > .item > .index {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.4em;
    min-width: 1.4em;
    border-radius: 50%;
    padding: 2px;
    font-size: 0.6em;
    left: 0;
    top: 50%;
    transform: translate(-44%, -41%);
    color: #043f51;
    background-color: #ecf2f4;
}

#history > .item:hover{
    border-color: #043f513a;
    background-color: #bdf0ff;
}

#history > .item > .expression{
    font-size: 1em;
    text-align: right;
    overflow: hidden;
    padding-bottom: 0.2em;
    border: none;
    border-bottom: solid 0.08em #043f513a;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    width: 100%;
    color: #043f51;
    white-space: nowrap;
}

@media screen and (max-width: 730px){
    body{
        flex-direction: column-reverse;
        align-items: center;
    }
    #history{
        max-width: 100%;
        width: 100%;
        flex-direction: row;
    }
}