@font-face {
    font-family: "Oswald";
    src: url(./assets/fonts/Oswald-VariableFont_wght.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Oswald";
}
body{
    background-color: #d8e0e5;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 1em;
}
.calculator{
    padding: 1.5em;
    height: max-content;
    border-radius: 1.1em;
    background-color: #ffffff;
    width: max-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
#display{
    position: relative;
    background-color: #ecf2f4;
    padding: 0.7em 0.7em 0.7em 0;
    width: 22.5em;
    border-radius: 0.7em;
    min-height: 78px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    color: #043f51;
    overflow: hidden;
}
#expression{
    display: flex;
    justify-content: flex-end;
    font-size: 3em;
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    word-wrap: normal;
    color: #043f51;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
}
#display::after{
    content: "";
    height: 100%;
    width: 70px;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(90deg, #ecf2f4, transparent);
}
#result{
    font-size: 1.8em;
    opacity: 0.8;
}
#keyboard{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 0.7em;
    justify-content: center;
    width: fit-content;
}
.key{
    border: none;
    background-color: #ecf2f4;
    border-radius: 3px;
    height: 6em;
    width: 6em;
    border-radius: 50%; 
    display: grid;
    place-content: center;
    transition: all 0.1s ease-in;
    cursor: pointer;
    outline: none;
}
#Backspace{
    background-color: #ffd6d6;
}
.key > img{
    height: 2.5em;
}
.key:active{
    scale: 1.09
}
.key:first-child{
    background-color: #bdf0ff;
}
.key:last-child{
    background-color: #fff7a1;
}
.operator{
    background-color: #f3d6ff;
}
.key:hover{
    filter: brightness(0.9) !important;
}
